body {
    font-family: 'Raleway', sans-serif;
}

nav {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

header {
    z-index: -1;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header > div {
    position: fixed;
    width: 100vw;
}

.carousel-item img {
    height: 300px;
}

main {
    position: relative;
}

#events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.event {
    font-size: 2em;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: red;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, red, black);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, red, black);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.event:hover {
    color: white;
    transform: translateY(-10px);
    text-decoration: none;
}

#news {
    background-image: url('../images/track.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 50px 10px;
}

#news .container {
    background-color: white;
    height: 100%;
    padding: 10px 20px;
    max-width: 750px;
}

#news li {
    margin-top: 10px;
}

#team {
    background-color: white;
    padding: 40px 0;
}

#team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team img {
    width: 100%;
}